{% extends 'base.html' %}

{% block content %}
<h1>Clubs</h1>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Club</th>
            </tr>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <th scope="row">{{ obj.id }}</th>
                <td>{{ obj.name}}</td>
            </tr>
            {% endfor %}
        </tbody>

        </thead>

    </table>
</div>

{% endblock %}